<div>
    <h2>
        <span>Avocats</span>
        <button class="btn btn-primary float-right jh-create-entity create-avocat" [routerLink]="['/', { outlets: { popup: ['avocat-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Avocat
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="avocats">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Adresse</span></th>
            <th><span>Nom</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let avocat of avocats ;trackBy: trackId">
                <td><a [routerLink]="['../avocat', avocat.id ]">{{avocat.id}}</a></td>
                <td>{{avocat.adresse}}</td>
                <td>{{avocat.nom}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../avocat', avocat.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'avocat/'+ avocat.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'avocat/'+ avocat.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
